/* top bar  */
@media (max-width: 1440px) {
  .top-bar ul li a {
    padding: 12px 20px;
  }

  .top-bar ul li {
    margin: 5px 0px;
    padding: 0px;
  }

  .top-bar ul li a:hover {
    color: var(--text-color);
    background-color: var(--topnav-background-color);
    text-decoration: none;
  }
}

@media (max-width:1024px) {
  :root {
    --element-height: 0px;
    --element-sub-height: 0px;
  }

  .navbar {
    height: var(--element-sub-height);
    overflow: hidden;
    /* display: none; */
  }

  .navbar-nav {
    flex-direction: column;
  }

  .dropdown-menu {
    position: static;
    width: 100%;
  }

  .nav-link:hover {
    background-color: var(--text-color);
  }

  .dropdown-item:hover {
    background-color: var(--text-hover-color);
  }

  .top-bar {
    padding: 0px 0px;
    height: var(--element-height);
    overflow: hidden;
  }

  .left-icon,
  .right-icon {
    display: block !important;
  }

  .top-bar ul {
    flex-direction: column;
    align-items: center;
  }

  .top-bar ul li {
    padding: 4px;
  }

  .top-bar ul li a {
    padding: 0;
  }
}

@media (max-width: 768px) {
  :root {
    --element-height: 0px;
  }

  .top-bar {
    padding: 0px 0px;
    height: var(--element-height);
    overflow: hidden;
  }

  .left-icon,
  .right-icon {
    display: block !important;
  }

  .top-bar ul {

    flex-direction: column;
    align-items: center;
  }

  .top-bar ul li {
    padding: 8px;
  }

  .top-bar ul li a {
    padding: 0;
  }
}

/* university logo */
@media screen and (max-width: 480px) {
  .main-header {
    height: 20px;
    padding: 15px 0px 3px 0px;
  }

  .rmpssu-logo {
    width: 99%;
    margin-left: 40px;
    transform: scale(1.2);
  }
}

/* navigation bar */
@media screen and (max-width: 1024px) {
  .navbar-nav {
    flex-direction: column;
  }

  .dropdown-menu {
    position: static;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --element-sub-height: 0px;
  }

  .navbar {
    height: var(--element-sub-height);
    overflow: hidden;
    /* display: none; */
  }

  .navbar-nav {
    flex-direction: column;
  }

  .dropdown-menu {
    position: static;
    width: 100%;
  }

  .nav-link:hover {
    background-color: var(--text-color);
  }

  .dropdown-item:hover {
    background-color: var(--text-hover-color);
  }
}


/* letest news */
@media screen and (max-width: 768px) {
  .marquee-container {
    font-size: 14px;
  }

  .marquee-text {
    max-width: 400px;
    width: 140px;
  }
}

@media screen and (max-width: 480px) {
  .marquee-container {
    font-size: 10px;
  }

  .marquee-text {
    max-width: 400px;
    width: 140px;
  }

  .newgif {
    width: 20px;
  }
}

/* image slider  */
@media (max-width: 768px) {
  .slider {
    height: 50vh;
  }

  .slide {
    height: 50vh;
  }
}

@media (max-width: 480px) {
  .slider {
    height: 50vh;
  }

  .slide {
    height: 50vh;
  }
}

/* profile card */
@media (max-width:1024px) {
  .home-officers {
    flex-direction: column;
  }

}

@media (max-width: 768px) {
  .home-officers {
    width: 85%;
  }

}

@media (max-width: 576px) {
  .title {
    font-size: 1em;
  }

  .description {
    font-size: 0.8em;
  }

  img {
    width: 80px;
  }

  .home-officers {
    width: 100%;
  }
}

@media (min-width:1024px) {
  .about-card {
    max-width: 85%;
  }

  .about-card img {
    width: 35%;
  }

  .about-content {
    width: auto;
  }

  .about-content h2 {
    font-size: calc(1rem + 1.2vw);
  }

  .about-content p {
    font-size: 18px;
  }

  .read-more-btn {
    font-size: 18px;
  }
}

@media (max-width:1024px) {
  .about-card {
    max-width: 90%;
  }

  .about-card img {
    width: 30%;
  }

  .about-content {
    width: auto;
  }

  .about-content h2 {
    font-size: calc(0.7rem + 0.9vw);
  }

  .about-content p {
    font-size: 13px;
  }

  .read-more-btn {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .about-card {
    flex-direction: column;
    max-width: 90%;
  }

  .about-card img {
    width: auto;
    height: auto;
  }

  .about-content {
    width: auto;
  }
}

@media (max-width: 480px) {
  .about-content h2 {
    font-size: 20px;
  }

  .about-content p {
    font-size: 14px;
  }

  .read-more-btn {
    padding: 8px 16px;
    font-size: 12px;
  }
}

@media (min-width: 576px) {

  /* Small devices (portrait tablets and larger) */
  .notice-card marquee {
    height: 250px;
  }

  .notice-card ul li .notice-title {
    font-size: 14px;
  }

  .notice-card ul li .notice-date {
    font-size: 10px;
  }

  .col-md-4 {
    width: 100%;
    /* 2 columns on small screens */
  }
}

@media (min-width: 768px) {

  /* Medium devices (landscape tablets and larger) */
  .notice-card marquee {
    height: 300px;
  }

  .col-md-4 {
    width: 33.3333%;
    /* 3 columns on medium screens */
  }
}

@media (min-width: 992px) {

  /* Large devices (desktops) */
  .notice-card ul li div.notice-title {
    font-size: 17px;
  }

  .notice-card ul li div.notice-date {
    font-size: 12px;
  }

  .col-md-4 {
    width: 33.3333%;
  }

  .notice-card marquee {
    height: 400px;
  }

  .h1,
  h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
}

@media (min-width: 1200px) {

  /* Extra large devices (large desktops) */
  .col-md-4 {
    width: 32%;
    /* 4 columns on extra-large screens */
  }

  .notice-card marquee {
    height: 450px;
  }
}


@media (max-width: 768px) {
  .portal-cards a {
    width: 45%;
  }
}

@media (max-width: 576px) {
  .portal-cards a {
    width: 100%;
  }
}

@media (max-width:1024px) {
  .footer-section ul li a {
    font-size: 14px;
  }

  .contact-us p {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  table {
    width: 90%;
  }

  table thead th {
    font-size: 15px;
  }

  table tbody td {
    font-size: 14px;
  }
  table tbody td a{
    font-size: 14px;
  }
  table tbody td:last-child {
    font-size: 12px;
  }

  .btn {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  table {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .time {
    font-size: 1rem;
  }

}

@media (max-width: 768px) {
  .hisbtn {
    font-size: 12px;
    padding: 7px;
  }
}
@media (max-width: 768px) {
  .contactus-text{
    height: 25vh;
  }
}

/* Default styling for larger screens is already defined */

/* For tablets and small desktops (max width 1024px) */
@media (max-width: 1024px) {
  .searchfilters {
    width: 50%; /* Adjust width */ /* Reduce gap */
    padding-right: 5px; /* Adjust padding */
  }

  .inputfilters input {
    font-size: medium; /* Reduce font size */
    padding: 8px 0px; /* Adjust padding */
    padding-left: 15px; /* Adjust left padding */
  }
  .inputfilters input::placeholder{
    font-size: medium;
  }
}

/* For mobile devices (max width 768px) */
@media (max-width: 768px) {
  .searchfilters {
    width: 70%; /* Increase width for smaller devices */
  }

  .inputfilters input {
    font-size: medium; /* Further reduce font size */
    padding: 7px 0px; /* Adjust padding for smaller input */
    padding-left: 10px; /* Adjust left padding */
  }
  .searchfilters span {
    font-size: medium;
  }
  .searchfilters h6 {
    font-size: x-small;
  }
  .inputfilters input::placeholder{
    font-size: medium;
  }
}

/* For very small devices (max width 480px) */
@media (max-width: 480px) {
  .searchfilters {
    width: 90%; /* Almost full width */
  }

  .inputfilters input {
    font-size: small; /* Small font for very small devices */
    padding: 10px 0px; /* Compact padding */
    padding-left: 8px; /* Adjust padding */
  }
  .searchfilters span {
    font-size: large;
    margin-bottom: 20px;
  }
  .searchfilters h6 {
    font-size: xx-small;
  }
  .inputfilters input::placeholder{
    font-size: small;
  }
}
@media (max-width: 768px) {
  .col-md-5 h2 {
    font-size: 1rem;
  }
}
