@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --text-color: #8e0000;
  --text-size: clamp(0.9rem, 1rem + 1vw, 1.2rem);
  --text-hover-color: #ae0101;
  --topnav-background-color: #e9e3e3;
  --white-color: #ffffff;
  --black-color: #000000;
  --bs-warning-rgb: 255, 193, 7;
  --bs-bg-opacity: 1;
  --blue-color: rgb(4, 4, 243);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background-color: var(--white-color);
  font-size: clamp(1rem, 1vw + 1rem, 1.5rem);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

.material-symbols-outlined {
  font-size: 25px !important;
}

/* time on top start */
.time-section {
  width: 100%;
  background-image: url(flag.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  border-top: 2px solid var(--text-color);
  border-bottom: 2px solid var(--text-color);
  justify-content: space-between;
  box-shadow: inset 0px 0px 10px #8f1818aa, inset 0px 0px 10px #8f1818aa;

}

.left-icon,
.right-icon {
  display: none !important;
  color: #fff;
  background-color: #8e0000;
  padding: 5px;
}

.time-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.time {
  color: #030303;
  font-weight: bold;
  font-size: 1.2rem;
  text-shadow: 0px 0px 2px rgb(255, 255, 255);
  filter: drop-shadow(0px 0px 2px rgb(255, 255, 255));
}

/* time on top end */

.show-class {
  display: block !important;
}

.hide-class {
  display: none !important;
}

/* Top Bar start */
.top-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--topnav-background-color);
  padding: 10px 0px;
  text-align: center;
  transition: .5s linear;
}

.top-bar ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.top-bar ul li {
  margin: 0px 0px;
}

.top-bar ul li a {
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
  font-size: var(--text-size);
}

.top-bar ul li a:hover {
  color: var(--white-color);
  background-color: var(--text-hover-color);
  text-decoration: none;
}

/* Top Bar end */

/* logo start */
.main-header {
  padding: 12px 0px 3px 0px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.rmpssu-logo {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-left: 0px;
  transform: scale(1);
}

/* logo end */

.submenu {
  display: none;
}

/* subnavbar start */
.navbar {
  background-color: var(--text-color);
  color: var(--white-color);
  /* display:none; */
  justify-content: space-between;
  padding: 0rem;
  transition: .5s linear;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin-left: 10px;
}

.nav-item {
  position: relative;
  margin-right: 0px;
}

.nav-link {
  color: var(--white-color);
  text-decoration: none;
  font-size: var(--text-size);
  padding: 10px 15px;
  display: block;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: var(--text-hover-color);
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
  display: block;
  padding: 10px 15px;
}

.dropdown-checkbox {
  display: none;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: var(--text-color);
  min-width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  top: 42px;
  left: 0;
  border-radius: 4px;
  overflow: hidden;
}

.dropdown-checkbox:checked+.dropdown-menu {
  display: block;
}

.dropdown-item {
  color: var(--white-color);
  text-decoration: none;
  display: block;
  font-size: var(--text-size);
  padding: 10px 15px;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: var(--text-hover-color);
}

/* Multi-level Dropdown */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

.dropdown-checkbox:checked+.dropdown-menu .dropdown-close {
  display: block;
}

.drop-icon {
  float: right;
}

.nav-without-links {
  color: var(--white-color);
  text-decoration: none;
}

/* subnavbar end */

/* letest news start */
.marquee-container {
  background-color: rgb(245, 235, 157);
  color: var(--black-color);
  font-family: Arial, sans-serif;
  font-size: var(--text-size);
  display: flex;
  text-transform: uppercase;
}

.marquee-text {
  max-width: 400px;
  width: 300px;
  font-weight: bold;
  padding: 10px;
  background-color: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity)) !important;
}

marquee {
  padding: 10px;
}

marquee a {
  text-decoration: none;
  color: var(--text-color);
}

marquee a:hover {
  text-decoration: none;
  color: var(--blue-color);
}

/* letest news end */

/* image slider start */
.slider {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 70vh;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
}

/* image slider end */

/* home-officers cards start */
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.row {
  display: flex;
  width: 85%;
  justify-content: center;
  gap: 10px;
  margin-right: auto;
  margin-left: auto;
}

.wrap-text {
  flex-wrap: wrap;
}

.admin-card {
  margin-top: -30px;
  margin-bottom: 30px;
}

.home-officers {
  width: 85%;
  padding: 20px 0px;
  border-radius: 8px;
  flex-direction: row;
  background-color: #f9f047;
  box-shadow: 0px 0px 9px 0.5px rgba(0, 0, 0, 0.426);
}

.col-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.border-end {
  border-right: none;
  margin-bottom: 20px;
}

.float-start {
  flex-shrink: 0;
}

.me-2 img {
  width: 20%;
  height: auto;
  border-radius: 4px;
  border: 2px solid rgb(207, 203, 203);
}

.title {
  font-size: 1.2em;
  font-weight: bold;
  color: #000000;
}

.description {
  font-size: 0.9em;
  color: #ef0000;
  margin-bottom: 10px;
}

.read-more-button {
  font-size: 0.85em;
  padding: 8px 12px;
  color: #fff;
  background-color: var(--text-color);
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.read-more-button:hover {
  background-color: var(--text-hover-color);
}

/* home-officers cards end */


/* university about card start */
.about-card {
  display: flex;
  flex-direction: row;
  max-width: 1400px;
  margin: 20px auto;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.788);
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.about-card img {
  width: 40%;
  padding: 10px;
  object-fit: cover;
}

.about-content {
  padding: 20px;
  width: 60%;
}

.about-content h2 {
  margin: 0;
  font-size: calc(1.375rem + 1.5vw);
  color: #333;
}

.about-content p {
  margin: 10px 0 20px;
  font-size: 20px;
  color: #555;
  padding: 10px;
  line-height: 1.5em;
}

.read-more-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--text-color);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.read-more-btn:hover {
  background-color: var(--text-hover-color);
}

/* university about card end */

/* notic/events/ circulers  start*/
.text-primary {
  --bs-text-opacity: 1;
  color: var(--text-color);
}

.text-center {
  text-align: center !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

.h1,
h1 {
  font-size: calc(1rem + 1.5vw);
}

.col-md-4 {
  flex: 0 0 auto;
  width: 100%;
  border: 1px solid var(--text-color);
}

.bg-success {
  background-color: var(--text-color) !important;
}

.m-0 {
  color: var(--white-color);
}

.text-light {
  color: var(--white-color);
}

.fw-bold {
  font-weight: 700 !important;
}

.card-header {
  padding: .5rem 1rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, .03);
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.text-black {
  color: var(--black-color) !important;
}

.notice-card ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.shadow {
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.451);
}

.notice-card marquee {
  height: 450px;
}

:host([direction="up"]),
:host([direction="down"]) {
  overflow: initial;
  overflow-y: hidden;
  white-space: initial;
}

:host {
  display: inline-block;
  overflow: hidden;
  text-align: initial;
  white-space: nowrap;
}

marquee {
  display: inline-block;
  width: -webkit-fill-available;
}

.notice-card ul li {
  border-bottom: solid 1px silver;
  background: url(/img/right-arrow.png) left 5px no-repeat;
  margin-bottom: 10px;
  padding-left: 21px;
  padding-bottom: 2px;
}

.notice-card ul li div.notice-title {
  font-size: 15px;
  margin-bottom: 5px;
}

.justify {
  text-align: justify;
}

.notice-card ul li div.notice-date {
  text-align: right;
  font-size: 10px;
  font-style: italic;
  color: rgb(255, 0, 0);
}

.card-footer:last-child {
  border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}

.card-footer-links {
  text-decoration: none !important;
}

.card-footer {
  padding: .5rem 1rem;
  background-color: var(--text-color) !important;
  border-top: 1px solid rgba(0, 0, 0, .125);
}

.card-footer-links:hover .card-footer {
  background-color: var(--text-hover-color) !important;
}

.medium-font {
  font-size: 18px;
  color: var(--white-color);
  font-weight: 700 !important;
}

/* notic/events/ circulers  end*/

.clearfix {
  width: 100%;
  height: 5vh;
}

/* online portal start*/
.portal-title {
  color: var(--text-color);
}

.portal-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.portal-cards a {
  width: 200px;
  padding: 15px;
  border: 2px solid #f0f0f0;
  border-radius: 8px;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--text-color);
  text-align: center;
  border: 3px solid var(--white-color);
  box-shadow: 0px 0px 6px .1px rgba(0, 0, 0, 0.508),
    inset 0px 0px 6px .1px rgb(0, 0, 0), inset 0px 0px 6px .1px rgb(0, 0, 0), inset 0px 0px 6px .1px rgb(0, 0, 0);
  transition: transform 0.3s, box-shadow 0.3s;
}

.portal-card img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.portal-card p {
  font-size: 1rem;
  color: var(--white-color);
  font-weight: 500;
}

.portal-cards a:hover {
  transform: translateY(-5px);
  cursor: pointer;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.508);
}

/* online portal end*/

/* footer start*/
footer {
  background-color: var(--text-color);
  color: var(--white-color);
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 85%;
  margin: 0 auto;
  padding: 20px;
}

.footer-section {
  flex: 1;
  min-width: 300px;
}

.footer-section h3 {
  margin-top: 20px;
  font-size: calc(1.3rem + .6vw);
}

.footer-section ul {
  list-style-type: none;
}

.footer-section ul li a {
  color: var(--white-color);
  font-size: 18px;
  text-decoration: none;
  transition: .3s linear;
}

.footer-section ul li a:hover {
  letter-spacing: 2px;
  color: #ffd700;
}

.contact-us p {
  font-size: 18px;
}

.social-icons a {
  margin-right: 10px;
}

.social-icons img {
  width: 24px;
  height: 24px;
}

/* footer end*/

/* bottom footer start */
.footer-bottom {
  text-align: center;
  padding: 20px 0px 20px 0px;
  background-color: #000000;
  border-top: 1px solid #ffffff;
}

.footer-bottom p {
  font-size: 15px;
  color: var(--white-color);
}

.footer-bottom a {
  color: #ffd700;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

/* bottom footer end */

.submenu-background {
  background-color: #9c3d3d;
  width: 97% !important;
  margin-top: 10px;
}

.submenu-background-1 {
  background-color: #8b5656;
  width: 95% !important;
  margin-top: 10px !important;
  margin-left: auto;
  margin-right: auto;
}

.submenu-background-2 {
  background-color: #8a6464;
  width: 95% !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  margin-left: auto;
  margin-right: auto;
}

/* notice page start */
.table {
  width: 80%;
  border-radius: 8px;
  border-spacing: 0;
  text-align:left;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid var(--text-color);
}
.table th {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  line-height: 26px;
  padding: 18px 30px;
}
.table thead tr {
  background-color: var(--text-color);
}
.table td {
  padding: 30px 30px 31px;
  font-size:20px;
  color: black;
  line-height: 26px;
  text-transform: uppercase;
}
.table tbody tr:nth-child(odd) {
  background: white;
}
.table tbody tr:nth-child(even) {
  background: #eaeae9a2;
}
.btn {
  display: inline-block;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-transform: uppercase;
  width: 170px;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
  color: #fff;
  background-color: var(--text-color);
  text-decoration: none;
}
.btn:hover {
  background-color:var(--text-hover-color);
}
/* notice page end */